.blog-previews {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: "Nunito", sans-serif;
}

.blog-post-title {
  margin-top: 1em;
}

.blog-link {
  box-shadow: none;
  color: black;
}
