.site-text {
  font-family: "Nunito", sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.blog-previews {
  display: flex;
  align-items: space-between;
  margin: auto;
  width: 90%;
  font-family: "Nunito", sans-serif;
  padding-top: 1em;
}

.blog-post-title {
  margin-top: 1em;
  margin-bottom: 0;
}

.blog-link {
  color: black;
}

.blog-post-image {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 7em;
  height: 7em;
  margin-right: 0.875rem;
  margin-top: 0.875rem;

  border-radius: 50%;
}

.blog-preview-text {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
